.mainside{
    text-decoration: none;
    list-style: none;
}
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f8f9fa;
    padding-top: 70px;
    z-index: 1000;
    display: none;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
.content {
    margin-right: 250px; /* Leave space for sidebar */
    margin-top: 100px;
}
.content img{
    width: 100%;
    height: 50%;
}
.card a {
    color: inherit;
    text-decoration: none;
    list-style: none;
}

.card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.animate__animated.animate__bounceIn{
    animation-duration: 2s;
}
a{
    text-decoration: none;
}
footer{
    margin-bottom: 2px;
    text-align: center;
}
.border{
    border-radius: 1rem;
    border: 9px solid rgb(31, 30, 29);
}
.color{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
}
.active{
    font-size: 20px;
    color: blue;
}

.content img{
    width: 40rem;
    border-radius: 10px;
}
.img:hover{
    
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.slider-container {
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
    /* border: 1px solid #dee2e6; */
    padding: 10px 0;
    position: relative;
    cursor: pointer;
  }

  .slider-text {
    display: inline-block;
    padding-left: 100%;
    animation: slideText 20s linear infinite;
  }
.slider{
    display: inline-block;
    margin-right: 4rem;
}
.slider-container:hover .slider-text{
    animation-play-state: paused;
}
  @keyframes slideText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
@media (max-width:500px) {
    .sidebar{
        width: 100%;
    }
   .content img{
    margin-top: 1rem;
        width: 30rem;
        height: 10rem;
        text-align: center;
        margin-left: -3rem;
        overflow: hidden;
    }
}
@media (max-width:700px){
    .content img{
        width: 30rem;
    }
}
